<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th rowspan="2">
                <input type="checkbox" ng-model="vm.allChecked" ng-change="vm.checkAll(vm.allChecked)" />
            </th>
            <th rowspan="2">
                姓名
            </th>
            <th colspan="3">
                详情
            </th>
            <th rowspan="2">
                操作
            </th>
        </tr>
        <tr>
            <th>粉丝数</th>
            <th>生日</th>
            <th>收入</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.items">
            <td>
                <input type="checkbox" ng-model="item.$checked" />
            </td>
            <td>
                {{item.name}}
            </td>
            <td class="text-right">
                {{item.followers | number}}
            </td>
            <td>
                {{item.birthday | date }} ({{vm.age(item.birthday)}}岁)
            </td>
            <td class="text-right">
                {{item.income | currency}}
            </td>
            <td class="dropdown">
                <span class="btn btn-primary btn xs dropdown-toggle" data-toggle="toggle" title="点击查看详情">
				<i class="glyphicon glyphicon-comment"></i>
				</span>
                <div class="dropdown-menu panel-body">
                    <h3>{{item.id}} - {{item.name}}</h3> 粉丝：{{item.followers|number}}
                    <br/> 生日：{{item.birthday|date}}
                    <br/> 年龄：{{vm.age(item.birthday)}}岁
                    <br/> 收入：{{item.income|currency}}
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div>
    选中的项：
    <ul>
        <li ng-repeat="item in vm.selections()">
            <label class="label label-success">
                {{item.name}}
            </label>
        </li>
    </ul>
</div>
