<div class="row">
    <div class="col-md-12">
    	<select class="form-control" ng-model="vm.country"  ng-options="country.label for country in vm.countries">
    		<option value="">--请选择国家--</option>
    	</select>
    </div>

</div>
<div class="row" ng-if="vm.country.provinces">
    <div class="col-md-12">
    	<select class="form-control" ng-model="vm.province" ng-options=" province.label for province in vm.country.provinces">
    		<option value="">--请选择省份/州--</option>
    	</select>
    </div>
</div>
<div class="row" ng-if="vm.province.cities">
    <div class="col-md-12">
    	<select class="form-control" ng-model="vm.city" ng-options="city.label for city in vm.province.cities">
    		<option value="">--请选择城市/县--</option>
    	</select>
    </div>
</div>
