.case-form textarea.ng-dirty.ng-invalid,
.case-form select.ng-dirty.ng-invalid,
.case-form input.ng-dirty.ng-invalid {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}